
@{
    ViewData["Title"] = "Test";
}

<script src="~/js/app.js"></script>

<h1>Typescript Lab</h1>

<button onclick="getMountains()">Which mountain is tallest?</button><br/><br />

<button onclick="getProducts()">What is the average product price?</button><br /><br />

<button onclick="getInventory()">What is the total cost of inventory?</button><br /><br />
